*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#quote{
    font-size: 1.5em;
    font-weight: bold;
}

div{
    text-align: center; 
    margin-top: 45vh;
}
body{
    font-family: arial;
}

.fade-in {
    animation: fadeIn 2s;
  }
  
  .fade-out {
    animation: fadeOut 2s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }



  @media screen and (max-width:960px) {


  div{
    margin-top: 50vh;
}
    

}
  