*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#quote{
    font-size: 1.5em;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: black;
}
div{
    text-align: center; 
    margin-top: 20%;
}
body{
    font-family: arial;
}

.fade-in {
    animation: fadeIn 2s;
  }
  
  .fade-out {
    animation: fadeOut 2s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .form-container {
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    font-size: 1.2em;
}

textarea, input {
    padding: 0.5em;
    font-size: 1em;
}

button {
    padding: 0.5em 1em;
    font-size: 1.2em;
    cursor: pointer;
}

#form-message {
    margin-top: 1rem;
    font-size: 1.2em;
}
  